h3{
	color: white;
	font-size: 30px;
}

ion-content{
  --background: #000000;
  color: white;
}

ion-item{
    --background: #000000;
    --color: white;
}

p {
  font-size: 25px;
  line-height: 22px;

  color: white;
  text-align: center;
  margin: 0;
}

a {

  text-decoration: none;
}